#footer{
    background-color: black;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 5px
   
}

.nav-item{
    font-size: 25px;
}

.navbar-brand{
    font-size: 25px;
}


.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}


.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}

.user-link {
    color: black!important;
}

.form-group{

    padding:5px;
}