<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{fragments/layouts/base_layout}">
<head>
    <title>TypeLogCount</title>
</head>
<body>
<section layout:fragment="content">
    <h2 style="padding:5px">Count of Type <strong th:text="${type}"/> from <strong th:text="${date_one}"/> to <strong th:text="${date_two}"/> </h2>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">type</th>
            <th scope="col">count</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="logscount : ${logsperday}">
            <td th:text="${logscount[0]}"></td>
            <td th:text="${logscount[1]}"></td>
        </tr>

        </tbody>
    </table>
</section>
</body>
</html>
