<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{fragments/layouts/base_layout}">
<head>
    <title>Referers</title>
</head>
<body>
<section layout:fragment="content">
    <h2 style="padding:5px">Referers that led to more than one resource</h2>
    <div style="overflow-x:auto;">
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th scope="col">referer</th>
                <th scope="col">resource</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="referer : ${referers}">
                <td th:text="${referer[0]}"></td>
                <td th:text="${referer[1]}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</section>
</body>
</html>
